/* titoli */

h1 {
    color: aquamarine;
    background-color: transparent;
}

h2 {
    color: pink;
}

p a,
figure figcaption p {
    color: violet;
}

.titolo-articolo {
    color: green;
}

articolo-pagina {
    font-style: italic;
}

.citazione__blocco p {
    color: brown;
}


/* titoli */


/* stille paragrafi */

.figure.citazione__blockquite.citazione__blocco.citazione__paragrafo {
    font-size: 1.8em;
}

figure blockquote p {
    font-size: 1rem, !important;
}

figure blockquote p {
    font-size: 2rem, !important;
}


/* Titolo  */

h1#titolo-pagina.titolo-articiolo {
    color: green;
    font-size: 3rem;
}

h2 {
    color: darkred;
}

h3 {
    color: blue;
}


/* stili pagina */

body {
    background-color: azure;
    font-size: 16px;
    max-width: 900px;
    margin-left: auto;
    margin-top: auto;
    margin-right: auto;
}


/* illustrazione */

.caption-illustrazione {
    font-style: italic
}

h2 {
    color: red;
}

h3 {
    font-style: italic;
}


/* tipografia */

h2 {
    color: red
}

h3 {
    font-style: italic;
}

h1 {
    color: red;
    font-size: 3rem;
}


/* testo */

p {
    color: dimgray;
}

.illustrazione .caption-illustrazione {
    color: cadetblue;
}

.citazzione__blocco p {
    color: brown;
}

.citazzione__blocco p strong {
    background-color: yellow;
}

.illustrazione {
    border: 3px black solid;
    background-color: orange;
}

.citazzione_figura {
    padding: 24px;
    background-image: url("sfondo.jpg");
    background-size: cover;
    border-radius: 8px;
    background-repeat: round, space;
}

.imaggine {
    box-sizing: border-box;
    background-color: white;
    border: 3px black solid;
    padding: 10px;
}

.citazione__paragrafo {
    margin: 0;
    color: black;
}

.primo {
    background-color: blue;
    height: 500px;
    width: 500px;
}

.secondo {
    background-color: red;
    height: 50%;
    width: 50%;
}

html {
    margin: 8px;
    font: size 62.5%;
}


/*.introduzione{
    min-height: 100;
} */

.color{
    height: 600px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
   /* background-color: rgb(156,165,211); */
  /* background-color: hsl(360, 34%, 62.5%); */
   background-color: rgba(50, 60, 121, .3);
}

.color h1{
    text-align: center;
}